.sectionFour-container {
  flex: 1;
  background-color: #f5f5dc;
  display: flex;
  justify-content: center;
  gap: 4em;
}

@media only screen and (max-width: 800px) {
  .sectionFour-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
}
