.sectionOne-container:after {
  background: url(../../assets/table.png) no-repeat bottom right;
  width: 100%;
  height: 120px;
  z-index: 10;
  position: absolute;
<<<<<<< HEAD
  top: 100%;
=======
  top:100%;
>>>>>>> b8af546e9165430fbede0f9e269cdc8aca496491
  background-size: cover;
  content: "";
}
.sectionOne-container {
  background: #e7e9d4;
  position: relative;
  min-height: 350px;
  width: 100%;
  gap: 2em;
  flex-direction: row-reverse;
  background-size: contain;
  font-size: 1.1em;
  display: flex;
}

.bio-container {
  flex: 1;
  display: flex;

  padding: 2em;
  flex-direction: column;
  text-align: justify;
  gap: 1em;
}

.image-box {
  width: 548px;
  min-height: 200px;
  max-width: 100%;
  position: relative;
  align-self: stretch;
}

.image-box .flowers {
  bottom: -50px;
  right: 0;
  position: absolute;
  z-index: 11;
  width: 500px;
}

.profile-pics-wrapper {
  width: 150px;
  height: 250px;
  position: absolute;
  overflow: hidden;
  bottom: -27px;
  right: 83px;
  z-index: 12;
}
.image-box .profile-pics {
  position: absolute;
  width: 250px;
  right: -50%;
  top: 0;
}

.years-container {
  padding-top: 3em;
  display: flex;
  justify-content: space-between;
}

.text-container {
  text-align: justify;
  overflow: hidden;
}

/* img {

  height: 40px;
  width: 100%;
  position: relative;
  top: 50px;
} */

.sectionOne__up {
  display: flex;
}

.sectionOne__up-right {
  width: 30%;
  padding-top: 40px;
  text-align: justify;
}

.sectionOne__up-left {
  width: 50%;
  padding-top: 80px;
}

.continue {
  color: red;
  cursor: pointer;
  background-color: hwb(66 82% 6%);
  width: fit-content;
  font-weight: 300;
}

.continue:hover {
  background-color: beige;
}

.scroller-container {
  position: absolute;
  width: 200px;
  top: 120%;
  z-index: 50;
  right: 60%;
  /* right: -50%;
  top: 0; 
  border: 2px solid black;

  /* top: 400px; */
}

/* @media only screen and (max-width: 650px) {
  .sectionOne-container {
    flex-direction: column;
  } */

@media only screen and (max-width: 1050px) {
  .sectionOne-container {
    flex-direction: column;
  }
  .scroller-container {
    top: 112%;
  }
}

@media only screen and (max-width: 500px) {
  .scroller-container {
    right: 40%;
  }
}
/* .sectionOne-container:after {
    height: 75px;
  }
  .bio-container * {
    font-size: 0.8em;
  } */

/* @media only screen and (max-width: 1250px) {
  .bio-container {
    font-size: 1.1em;
    line-height: 1.6;
  }
} */

/* .years-container {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
} */

/* 
@media only screen and (max-width: 950px) {
  .bio-container {
    /* display: none; */
/* .scroller-container {
  position: absolute;
  top: 90%;
  left: 16%;
} */
