.sectionOne-container:after {
  background: url(../../assets/table.png) no-repeat bottom right;
  width: 100%;
  height: 20vh;
  z-index: 10;
  position: absolute;
  top: 100%;
  background-size: cover;
  content: "";
}
.sectionOne-container {
  background: #e7e9d4;
  position: relative;
  min-height: 350px;
  width: 100%;
  background-size: contain;
  font-size: 1.1em;
}
.section-one-content-wrapper {
  width: 100%;
  max-width: 1026px;
  margin: auto;
  display: flex;
  gap: 2em;
  flex-direction: row-reverse;
}

.bio-container {
  flex: 2;
  display: flex;

  padding: 2em;
  flex-direction: column;
  text-align: justify;
  gap: 1em;
}

.image-box {
  flex: 1;
  width: 548px;
  min-height: 200px;
  max-width: 100%;
  position: relative;
  align-self: stretch;
  margin-bottom: 11px;
}

.image-box .flowers {
  bottom: -50px;
  right: 0;
  position: absolute;
  z-index: 11;
  width: 500px;
}

.profile-pics-wrapper {
  width: 150px;
  height: 220px;
  position: absolute;
  overflow: hidden;
  bottom: -27px;
  right: 83px;
  z-index: 12;
}
.image-box .profile-pics {
  position: absolute;
  width: 250px;
  right: -50%;
  top: 0;
}

.years-container {
  padding-top: 3em;
  display: flex;
  justify-content: space-between;
}

.text-container {
  text-align: justify;
  overflow: hidden;
}

.sectionOne__up {
  display: flex;
}

.sectionOne__up-right {
  width: 30%;
  padding-top: 40px;
  text-align: justify;
}

.sectionOne__up-left {
  width: 50%;
  padding-top: 80px;
}

.continue {
  color: red;
  cursor: pointer;
  background-color: hwb(66 82% 6%);
  width: fit-content;
  font-weight: 300;
}

.continue:hover {
  background-color: beige;
}

.scroller-container {
  position: absolute;
  width: 200px;
  top: 120%;
  z-index: 50;
  right: 60%;
}

@media only screen and (max-width: 1050px) {
  .section-one-content-wrapper {
    flex-direction: column;
  }
  .scroller-container {
    top: 112%;
  }
}

@media only screen and (max-width: 500px) {
  .scroller-container {
    right: 40%;
  }
}
