.sectionOne-container {
  height: 36em;
  background-color: #e7e9d4;
  background-image: url(../../assets/Picture1-background.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  font-size: 1.1em;
  /* min-width: 1150px; */

  /* background-size: cover; */
}

.years-container {
  padding-top: 3em;
  display: flex;
  justify-content: space-between;
}

.bio-container {
  position: absolute;
  right: 15em;
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.text-container {
  text-align: justify;
}

/* img {

  height: 40px;
  width: 100%;
  position: relative;
  top: 50px;
} */

.sectionOne__up {
  display: flex;
}

.sectionOne__up-right {
  width: 30%;
  padding-top: 40px;
  text-align: justify;
}

.sectionOne__up-left {
  width: 50%;
  padding-top: 80px;
}

.continue {
  color: red;
  cursor: pointer;
  background-color: hwb(66 82% 6%);
  width: fit-content;
  font-weight: 300;
}

.continue:hover {
  background-color: beige;
}

@media only screen and (max-width: 1250px) {
  .bio-container {
    width: 50%;
    right: 20px;
    font-size: 1.1em;
    line-height: 1.6;
  }
}

@media only screen and (max-width: 1050px) {
  .bio-container {
    position: relative;
    left: 550px;
    font-size: 1.2em;

    /* line-height: 1.6; */
  }

  .years-container {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
  }
}
/* 
@media only screen and (max-width: 950px) {
  .bio-container {
    /* display: none; */
.scroller-container {
  position: absolute;
  top: 39.5em;
  left: 16.7em;
}

.image-box img {
  width: 180px;
  height: 250px;

  position: relative;
  left: 317px;
  top: 137px;
}
