.btn-rec {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  /* border-radius: 2em; */
  box-sizing: border-box;
  font-weight: 300;
  color: #ffffff;
  background-color: #e57948;
  text-align: center;
  transition: all 0.2s;
  border: none;
}

.btn-rec:hover {
  background-color: #de845a;
  cursor: pointer;
}
@media all and (max-width: 30em) {
  .btn-rec {
    display: block;
    margin: 0.2em auto;
  }
}
