

.main_container {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  justify-content: space-between;
}

.date {
  margin-left: 25px;
  color: white;
}

.like_icon {
  margin-right: 25px;
  color: white;
  padding: 0px;
}

.active-like {
  color: #0165e1;
}
.first_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .second_container {
    justify-content: center;
    align-items: center;
  }  */
.image {
  width: 60%;
  height: 600px;
}

.text{
text-decoration: none;
}
/* .btn:hover {
    color: #ff2625;
    border: 1px solid #ff2625;
  } */

/* .btn_colors {
    display: flex;
    flex-direction: column;
  }
  
  .btn_one:hover {
    background: #ff2625 !important;
  }
  .btn_two:hover {
    background: #228b22 !important;
  }
  .btn_three:hover {
    background: #ffbf00 !important;
  } */
