.sectionThree-container {
  margin: auto;
  background-color: #ffffff;
  padding-top: 2em;
  width: auto;
  position: relative;
}

.icon-container {
  background: linear-gradient(grey, white);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  cursor: pointer;
}

.icon-container:hover {
  background: gray;
}

.bottom-sectionThree {
  display: flex;
  flex-direction: row;
  width: 40%;
  gap: 1em;
  margin: auto;
  padding-bottom: 2em;
}

.img-title {
  background-image: url(../../assets/candleIcon.png);
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .sectionThree-container {
    height: 26em;
  }
}
