.scroller {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-content: center;
}

.square {
  height: 12px;
  width: 12px;
  background-color: rgb(243, 241, 241);
  margin-top: 4px;
}

/* .square:hover {
  background-color: rgb(113, 215, 215);
  cursor: pointer;
} */

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 15px solid rgb(27, 12, 12);
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 15px solid rgb(108, 27, 27);
}

.arrow-left:hover {
  border-right: 15px solid rgb(113, 215, 215);
  cursor: pointer;
}

.arrow-right:hover {
  border-left: 15px solid rgb(113, 215, 215);
  cursor: pointer;
}
