.rightBox-wrapper4 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* margin: auto; */
}

@media only screen and (max-width: 800px) {
  .rightBox-wrapper4 {
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  .rightBox-wrapper4 {
    align-items: center;
  }
}

.title4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 5px;
}
.rightBox {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px;
  gap: 5px;
}

/* .item2 {
  grid-column: 2 / span 3;
  font-size: 0.8em;
} */
h3 {
  text-align: left;
}

.item-liked {
  border: 1px solid black;
}

.item1 {
  background-image: url(../../../assets/likeIcon.png);
  width: 2.5em;
  height: 2.5em;
}

/* .rightBox-bottom4 {
  padding: 20px 0;
} */

@media only screen and (max-width: 800px) {
  .rightBox-bottom4 {
  }
}
